input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.pbutton {
  width: 280px;
  margin-top: 0px;
	padding: 12px;
	border-width: 0;
	color: #fff;
	border-radius: 6px;
	/* background-color: #002f9b; */
	cursor: pointer;
  font-size: 16px;
}

.deposit-input {
	width: 100%;
	display: inline-block;
  position: relative;
  background-color: rgba(0,0,0,0);
  margin-bottom: 24px;
  /* margin-top: 16px; */
}

.deposit-input input {
  width: 280px;
	border-width: 0;
	padding: 0px 0px;
	border-radius: 10px;
	color: #002f9b;
  font-size: 20px;
  /* text-align: center; */
  height: 48px;
  padding-left: 16px;
  background-color: #9edcdc;
}
.deposit-input a {
  border-width: 0;
  padding: 10px 20px;
  /* color: #002f9b; */
  color: #002f9b;
  font-size: 16px;
  position: absolute;
  background-color: rgba(0,0,0,0);
  top: 4px;
  right: 0px;
}